@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import './highlight.css';
@import './variables.css';
* {
  color: var(--color_primaryLight);
  margin: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica;
}

body{
   margin:0;
   padding:0;
   height:100%;
}

main{
   min-height:100%; 
   position:relative;
}

a{
    font-family: 'Oldenburg', cursive;
}

h2{
    font-family: 'Oldenburg', cursive;
}
h3{
    font-family: 'Oldenburg', cursive;
}
h4{
    font-family: 'Oldenburg', cursive;
}
p{
    font-family: 'Zilla Slab', serif;
}
li{
    font-family: 'Zilla Slab', serif;
}

body {
  background-color: var(--color_secondaryDark);
}

.contact__link {
  color: var(--color_secondaryLight);
}

.divisor {
  text-align: center;
  width: 100%;
}

.divisor::before,
.divisor::after {
  background: currentColor;
  content: '';
  display: inline-block;
  margin: 10px 10px;
  height: 2px;
  width: 80px;
  vertical-align: middle;
}

.main-content {
  background-color: var(--color_secondaryDark);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 40vh;
  font-size: 1.2em;
}

.main-content__container {
  width: 45%;
}

.main-footer {
  align-items: center;
  color: var(--color_primaryAcent);
  display: flex;
  justify-content: space-around;
}

.copyright-footer{
    text-align: center;
    margin-bottom: 10px;
}

.navbar {
  background-color: var(--color_primaryLight);
  height: 3.5vh;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in;
  width: 100vw;
  z-index: 1;
}

.navbar.invisible {
  background-color: var(--color_transparent);
  top: -7vh;
}

.navbar.clear {
  background-color: var(--color_transparent);
}

.navbar__title {
  color: var(--color_secondaryDark);
  font-size: 1.8em;
  transition: all 0.4s ease-in;
  vertical-align: middle;
  font-weight: bold;
}

.clear .navbar__title {
  color: var(--color_primaryLight);
}

.main-header {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.main-header__title {
  color: var(--color_primaryAcent);
  font-size: 10em;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.main-header__description{
  color: var(--color_primaryAcent);
  font-size: 2em;
  font-family: 'Oldenburg', cursive;
}

.main-header__background {
  background-attachment: fixed;
  background-image: var(--image_header);
  background-size: contain;
  -webkit-filter: blur(10px) contrast(150%) saturate(50%);
  -moz-filter: blur(10px) contrast(150%) saturate(50%);
  -o-filter: blur(10px) contrast(150%) saturate(50%);
  -ms-filter: blur(10px) contrast(150%) saturate(50%);
  filter: blur(5px) contrast(150%) saturate(50%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.main-header__container__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin-top: 25px;
  font-size: 1.5em;
  color: var(--color_secondaryMiddle);
}

.pagination__link {
  margin: 0 5px;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.pagination__link:hover {
  color: var(--color_primaryAcent);
}

.pagination__link--prev,
.pagination__link--next {
  font-size: 2.5em;
}

.posts {
  position: relative;
  text-align: center;
  flex-basis: 50%;
}

.posts__post {
  border: 1px solid;
  border-radius: 3.5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.4em;
  margin-top: 20px;
  padding: 10px 0;
  transition: border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.posts__post:hover {
  border-color: var(--color_primaryAcent);
}

.posts__post__title {
  font-size: 2em;
  width: 100%;
}

.posts__post__day,
.posts__post__category {
  color: var(--color_secondaryMiddle);
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.post_keywords{
  color: var(--color_secondaryMiddle);
  font-size: 1.8em;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.posts__link {
  display: inline-block;
  margin: 10px 0;
  font-size: 1.5em;
  width: 100%;
  transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.posts__link:hover {
  color: var(--color_primaryAcent);
}

.categories,
.tags {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments__container {
  width: 33.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.categories__container,
.tags__container {
  height: 120px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories__category,
.tags__tag {
  background-color: var(--color_primaryAcent);
    width: 160px;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
}

.categories__category:hover,
.tags__tag:hover {
  transition-delay: 0.4s;
  font-size: 1.5em;
  opacity: 0.8;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 72px;
}

.icon {
  width: 48px;
  height: 48px;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
}

.icon__svg {
  width: 48px;
  height: 48px;
  fill: var(--color_primaryLight);
  transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -webkit-transition: all 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.icon:hover {
  width: 65px;
  height: 70px;
  opacity: 0.8;
  vertical-align: top;
}

.icon:hover .icon__svg {
  fill: var(--color_primaryAcent);
  opacity: 0.8;
}

#disqus_thread {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .posts {
    flex-basis: 60%;
  }
  .main-content__container,
  .categories__container,
  .comments__container,
  .tags__container,
  #disqus_thread  {
    width: 60%;
  }
}

@media screen and (max-width: 1080px) {
  .posts {
    flex-basis: 75%;
  }
  .main-content__container,
  .categories__container,
  .comments__container,
  .tags__container,
  #disqus_thread  {
    width: 75%;
  }
}

@media screen and (max-width: 920px) {
  .posts {
    flex-basis: 85%;
  }
  .main-content__container,
  .categories__container,
  .comments__container,
  .tags__container,
  #disqus_thread  {
    width: 85%;
  }
}

@media screen and (max-width: 720px) {
  .main-header__title {
    font-size: 10vw;
  }
  .posts__post__title {
    font-size: 3.5vw;
  }
  .main-header__description {
    margin: 0 10%;
  }
  .posts {
    flex-basis: 90%;
  }
  .main-content__container,
  .categories__container,
  .comments__container,
  .tags__container,
  #disqus_thread  {
    width: 90%;
  }
  .divisor {
    margin: 20px 0;
  }
  .fb-comments span {
    width: 95vw !important;
  }
}

@media screen and (max-width: 480px) {
  .main-footer {
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
  }
  .contact {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .main-header__description {
    text-align: center;
  }
  .pagination {
    margin: 0;
  }
  .divisor {
    margin: 0;
  }
  .main-content__container,
  .categories__container,
  .comments__container,
  .tags__container,
  #disqus_thread  {
    width: 90%;
  }
  .main-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact {
    width: 100%;
    text-align: center;
  }
}

#sliderWrapper {
	padding:10px 0px 10px 0px;
}

.sectionContent {
	padding:0px 20px 0px 20px;
	font-size: 17px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #C99800;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.month {
    padding: 70px 25px;
    width: 94%;
    background: #233B7F;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 20px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 20px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 10px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #EDBA1F;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

.modal-header {
	text-align:center;
}

.modal-body {
	padding:15px;
}

.modal-body ul {
	padding-left:15px;
}


/* Previous Board Members                   */
/*   as a Modal Popup                       */
.day_event {
	list-style-type:none;
}

/* The Modal (background) */
.modal10 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
}

.modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

li{
    color: dimgrey;
}

strong{
    color: dimgrey;
}

/* Slider control */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }


.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 60%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 20%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/nav.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 20%;
  }


#toc_container{
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_container{
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
}

.toc_title{
    color: dimgrey;
    font-size: 180%;
    font-weight: 700;
    text-align:center;
}

#toc_container li, #toc_container ul, #toc_container ul li,{
    list-style: outside none none !important;
}

#toc_container a{
    color: dimgrey;
}

li.blog_para {
    list-style: circle;
    color: black;
}

.credit{
    color: dimgrey;
    margin-right: 30px; 
    margin-left: 30px;
}

a.credit_a{
    color: dodgerblue;
    font-size: 0.8em;
}

a.blog_para{
    color: dodgerblue;
    font-size: 0.8em;
}

p.blog_para{
    color: black;
    margin-right: 35px; 
    margin-left: 35px;
}

h2.blog_para{
    color: black;
    margin-right: 30px; 
    margin-left: 30px;
}

h3.blog_para{
    color: black;
    margin-right: 30px; 
    margin-left: 30px;
}

h4.blog_para{
    color: black;
    margin-right: 35px; 
    margin-left: 35px;
}

.blog_question_img{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    width: 40px;
    height: auto;
    float: left;
}

#bio_container{
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.bio_container{
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
}

.bio_title{
    color: dimgrey;
    font-size: 180%;
    font-weight: 700;
    text-align:center;
}

#bio_container li, #bio_container ul, #bio_container ul li,{
    list-style: outside none none !important;
}

#bio_container a{
    color: dodgerblue;
    font-size: 0.9em;
}

.bio_container{
    margin: 0 auto;
    margin-top: 30px;
}

.pagination_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
}
